.services {
    height: 400px;

    .service-con {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 400px;
        grid-gap: 1rem;
        

        .service-items {
            text-align: center;
            align-self: center;
            border: 2px solid $blue;
            padding: 1.5rem;
            
            h3 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                color: $blue;
            }
        }
    }
}